  <nav class="text-white fixed top-0 w-full z-50 bg-gray-900 ">
    <div class="max-w-screen-xl flex items-center justify-between mx-auto p-4">
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <span class="text-2xl font-semibold whitespace-nowrap font-pacifico text-[35px] tracking-[2px] pl-12">Flim-Fair</span>
      </a>
      <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
      </button>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex flex-col p-4 md:p-0 md:flex-row md:space-x-8 rtl:space-x-reverse">
          <% if current_user %> 
            <li>
              <%= link_to "Edit Profile", edit_user_registration_path, class: "block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green" %>
            </li>
            <li>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "block px-2 pr-14 font-body text-lg font-medium text-primary transition-colors group-hover:text-green", data: { turbo_confirm: 'Are you sure?', "turbo-method": :delete } %>
            </li>
          <% else %>
            <li>
              <%= link_to "Sign Up", new_user_registration_path, class: "block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green" %>
            </li>
            <li>
              <%= link_to "Log In", new_user_session_path, class: "block pr-14 px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green" %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>